@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --font-poppins: "Poppins", sans-serif;
}
body {
  font-family: var(--font-poppins), sans-serif;
}

.homescreen{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height:100vh;
}
.logo{
  width: 233px;
  height: 164.74px;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.fade-out {
  opacity: 0;
}